/*==========================================================================
Project One Style
==========================================================================*/
.project__one {
    &-single {
        position: relative;
        height: 560px;
        border-radius: 15px;
        overflow: hidden;
        .image {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-content {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            text-align: center;
            transition: .4s;
            opacity: 0;
            visibility: hidden;
            h4 {
                margin-bottom: 20px;
            }
            span, h4 {
                color: var(--white);
            }
            a {
                width: 60px;
                height: 60px;
                background-color: var(--white);
                color: var(--text-heading-color);
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                transform: rotate(135deg);
                font-size: 26px;
                transition: 0.4s;
                &:hover {
                    background-color: var(--black);
                    color: var(--white);
                    transform: rotate(180deg);
                }
            }
        }
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--primary-color-1);
            opacity: 0;
            transition: .4s;
        }
        &:hover {
            .project__one-single-content {
                top: 50%;
                opacity: 1;
                visibility: visible;
            }
            &:before {
                opacity: .85;
            }
        }
    }
}
.drag-cursor-container:hover {
    cursor: none;
    .drag-cursor {
        width: 95px;
        height: 95px;
        visibility: visible;
        opacity: 1;
        transition: 0s;
    }
}

.drag-cursor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    pointer-events: none;
    font-size: 14px;
    background-color: #00000094;
    color: var(--white);
    position: fixed;
    z-index: 999;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

/*==========================================================================
Project Two Style
==========================================================================*/
.project__two {
    &-single {
        position: relative;
        height: 490px;
        border-radius: 15px;
        overflow: hidden;
        .image {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-content {
            position: absolute;
            bottom: -100px;
            left: 6%;
            width: 73%;
            transition: 0.7s;
            background: var(--white);
            border-radius: 10px;
            padding: 25px 27px;
            padding-bottom: 15px;
            border-left: 5px solid transparent;
            z-index: 3;
            transition: .3s;
            transform: scale(.8);
            &:hover {
                border-color: var(--primary-color-2);
            }
            span {
                color: var(--primary-color-2);
            }
        }
        &-shape {
            position: absolute;
            right: -20px;
            top: -20px;
            opacity: 0;
            z-index: .9;
        }
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--primary-color-2);
            opacity: 0;
            transition: .4s;
        }
        &:hover {
            .project__two-single-content {
                bottom: 19px;
                transform: scale(1);
            }
            &:before {
                opacity: .35;
            }
            .project__two-single-shape {
                opacity: 1;
                top: 0;
                right: 0;
                z-index: 1;
            }
        }
    }
    &.style-two {
        .project__two-single {
            height: 720px;
            &::before {
                background-color: var(--color-1);
            }
            &:hover::before {
                opacity: 0.5;
            }
        }
        .project__two-single-content {
            span {
                color: var(--primary-color-1);
            }
            &:hover {
                border-color: var(--primary-color-1);
            }
        } 
    }
}

/*==========================================================================
Project Two Style
==========================================================================*/
.project__three {
    height: 780px;
    position: relative;
    overflow: hidden;
    &-card-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &-single-card {
        height: 100%;
        width: 25%;
        &-inner {
            background: var(--color-9);
            padding: 25px 38px;
            transition: 0.4s;
            z-index: 5;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
        span {
            color: var(--white);
            transition: .3s;
        }
        h6 {
            color: var(--white);
            font-size: 22px;
            transition: .3s;
        }
        &.active {
            .project__three-single-card-inner {
                background-color: var(--primary-color-3);
            }
            span {
                color: var(--text-heading-color);
            }
            h6 {
                color: var((--text-heading-color));
            }
            .project__three-image {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .5s;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        visibility: hidden;
    }

}

@media (max-width: 992px) {
    .project__three-single-card-inner {
        padding: 20px 15px;
    }
    .project__three-single-card h6 {
        font-size: 20px;
    }
}
@media (max-width: 820px) {
    .project__three-card-wrapper {
        flex-wrap: wrap;
    }
    .project__three-single-card {
        width: 50%;
    }
}
@media (max-width: 380px) {
    .project__three-single-card {
        width: 100%;
    }
}

/*==========================================================================
Project Four Style
==========================================================================*/

.project__four {
    &-single {
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        transition: .4s;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-content {
            position: absolute;
            bottom: -100px;
            left: 6%;
            width: 73%;
            transition: 0.7s;
            background: var(--white);
            border-radius: 10px;
            padding: 25px 27px;
            padding-bottom: 15px;
            border-left: 5px solid transparent;
            z-index: 3;
            transition: .3s;
            transform: scale(.8);
            &:hover {
                border-color: var(--primary-color-4);
            }
        }
        &:hover {
            .project__four-single-content {
                bottom: 19px;
                transform: scale(1);
            }
        }
    }
    .project-item-1 {
        height: 580px;
    }
    .project-item-2 {
        height: 295px;
    }
    .project-item-3 {
        height: 255px;
    }
    .project-item-4 {
        height: 255px;
    }
    .project-item-5 {
        height: 295px;
    }
}


/*==========================================================================
Project Five CSS
==========================================================================*/

.project__five {
    &-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:last-child .project__five-single-item:last-child {
            margin-bottom: 0;
        }
    }
    &-single-item {
        height: 345px;
        overflow: hidden;
        margin-bottom: 30px;
        border-radius: 30px;
        transition: .5s;
        margin-right: 30px;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &-img-wrapper {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--white);
            padding: 30px;
            position: absolute;
            bottom: 0;
            left: 48%;
            width: 88%;
            transform: translateX(-50%);
            border-radius: 10px;
            opacity: 0;
            transition: 0.3s;
            visibility: hidden;
            border-left: 4px solid var(--primary-color-1);
            &-left {
                h4 {
                    font-size: 28px;
                    margin-bottom: 3px;
                }
                p {
                    font-size: 17px;
                    text-transform: none;
                    color: var(--primary-color-1);
                }
            }
            &-right {
                margin-right: -13%;
                border: 3px solid var(--white);
                border-radius: 50%;
                a {
                    font-size: 20px;
                    transform: rotate(-45deg);
                    width: 60px;
                    height: 60px;
                    display: block;
                    text-align: center;
                    line-height: 59px;
                    border-radius: 50%;
                    border: 1px solid var(--primary-color-1);
                    transition: 0.4s;
                    background-color: var(--primary-color-1);
                    color: var(--white);
                    &:hover {
                        color: var(--text-heading-color);
                        background-color: var(--white);
                        transform: rotate(0);
                    }
                }
            }
        }
        &:hover {
            .project__five-single-item-content {
                opacity: 1;
                bottom: 20px;
                visibility: visible;
            }
        }
    }
    &.three-columns {
        .project__five-single-item {
            height: 500px;
            border-radius: 20px;
            h3 {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 991px) {
    .project__five-items {
        flex-direction: column;
    }
    .project__five-single-item {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .project__five-single-item-content-left {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .project__five-single-item-content-left {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .project__five-single-item-content {
        flex-direction: column;
    }
}


/*==========================================================================
Project six CSS
==========================================================================*/
.project__six {  
    &-single-item {
        height: 450px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        &:hover{
            &::before {
                opacity: 1;
                visibility: visible;
            }
            .image-zoom-btn {
                opacity: 1;
                visibility: visible;
                transform: translate(-50%, -50%) rotate(90deg);
            }
        } 
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #062A26D9;
            opacity: 0;
            visibility: hidden;
            transition: .4s;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .image-zoom-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0);
            z-index: 2;
            color: var(--white);
            font-size: 40px;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            i {
                font-weight: 100;
            }
        }
    }
    &-filter-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-bottom: 15px;
        flex-wrap: wrap;
        button {
            background: var(--white);
            color: var(--color-1);
            border: 1px solid var(--border-color-2);
            border-radius: 50px;
            box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.05);
            padding: 11px 32px;
            transition: .4s;
            &:hover {                
                background-color: var(--primary-color-1);
                color: var(--white);
            }
            &.active {
                background-color: var(--primary-color-1);
                color: var(--white);
            }
        }
    }
}


/*==========================================================================
Project seven CSS
==========================================================================*/

.project__seven { 
    &-single-card {
        height: 380px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        &:hover {
            .project__seven-content {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &-image {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }    
    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.85);
        transition: 0.6s;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        border-radius: 15px;
        opacity: 0;
        visibility: hidden;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--color-1);
            opacity: .85;
            border-radius: 15px;
        }
        a {
            background: var(--primary-color-1);
            width: 60px;
            height: 60px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            border-radius: 50%;
            transform: rotate(-45deg);
            border: 1px solid var(--primary-color-1);
            transition: 0.4s;
            top: 30px;
            left: 30px;
            &:hover {
                background-color: transparent;
                transform: rotate(0deg);
            }
        }
        span {
            bottom: 70px;
            left: 30px;
            color: var(--primary-color-1);
        }
        h5 {
            bottom: 30px;
            left: 30px;
            color: var(--white);
        }
        a,span,h5 {
            z-index: 3;
            position: absolute;
        }
    }
}

/*==========================================================================
Project seven Details
==========================================================================*/
.project__details {  
    &-thumb {
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 25px;
    }
    &-content {
        h3 {
            font-size: 38px;
            margin-bottom: 20px;
        }
        h4 {
            font-size: 28px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 25px;
            opacity: .9;
        }
    }
    &-image {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 35px;
        img {
            width: 48%;
            border-radius: 10px;
            height: 320px;
            object-fit: cover;
        }
    }

    .faq-collapse {
        &-item {
            margin-bottom: 20px;
            &-card {
                border: 1px solid var(--border-color-2);
                padding: 20px 30px;
                border-radius: 40px;
                transition: .4s;
                &-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    i {
                        font-size: 20px;
                        color: var(--primary-color-1);
                    }
                    &-content {
                        margin-top: 20px;
                    }
                }
                &.active {
                    border-radius: 15px;
                    border-color: var(--primary-color-1);
                }
            } 
        }
        p {
            margin: 0;
        }
    }
} 