
/*==========================================================================
 Color CSS
==========================================================================*/
:root {
    --body-font: 'Inter', sans-serif;
    --heading-font: 'Outfit', sans-serif;
    --white: #FFFFFF;
    --black: #000000;
    --p-color: #6A726F;
    --primary-color-1: #00C486;
    --primary-color-2: #0048dc;
    --primary-color-3: #FCA028;
    --primary-color-4: #F35120;
    --text-heading-color: #062A26;
    --color-1: #062A26;
    --color-2: #EDF4F2;
    --color-3: #14133B;
    --color-4: #E6EEFF;
    --color-5: #201f42;
    --color-6: #F5F8FF;
    --color-7: #182928;
    --color-8: #EEF3F3;
    --color-9: #203635;
    --border-color-1: #23423F;
    --border-color-2: #E9E9E8;
    --border-color-3: rgba(19, 19, 19, 0.1);
    --border-color-4: rgba(19, 19, 19, 0.06);
    --box-shadow-1: 0px 25px 70px rgba(0, 0, 0, 0.08);
    --box-shadow-2: 0px 10px 70px rgba(0, 0, 0, 0.1);
}


